<h1>Witaj! Proszę potwierdź swój adres e-mail!</h1>

<p>
    Proszę potwierdzić adres e-mail: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdzam mój e-mail</a>.
    Ten link wygaśnie za 1 godzinę. 
   {# }{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    Pozdrawiamy,
    Zespół WeddingPlanner
</p>
